*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{height:100%; /*overflow:hidden;*/}

body{
	font-family: 'open_sansregular', sans-serif;
	font-size:14px;
	line-height:normal;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	background:#e1e3e5;
	color:#2f3338;
	position:relative;
}

.sitewidth, .sitewidth-player{width:1400px;margin:0 auto;}

.header{background:#1a6ab1;height:120px;position:relative;}
.headernobg{background:none;}
.mainheader{padding:0px 0px 0px 0px;}
.header .user-title { text-align: right; padding: 10px 50px; color: #ffffff; }

.classedgelogo{background: url(../images/classedge/logo.png) no-repeat; height:46px; width:56px;  display:block; float:left;}

.logo-leftmenu{float:left;}
.logo-leftmenu li{display:inline-block;vertical-align:middle;position:relative;}
.logo-leftmenu li:after{content:"";position:absolute;bottom:3px;left:-3px;width:2px;height:2px;display:block;background:#fff;}
.logo-leftmenu li:first-child:after, .logo-leftmenu li:nth-child(2):after{content:none;}
.logo-leftmenu li a{color:#fff;font-family: 'open_sanssemibold', sans-serif;margin:0 10px;display:block;}
.logo-leftmenu li:first-child a{margin:0 20px 0 0;}
.logo-leftmenu li.active a{font-family: 'open_sansbold', sans-serif;border-bottom:1px solid #fff;}

.rightmenu{float:right;}
.rightmenu > li{display:inline-block;vertical-align:middle;text-align:right;color:#fff;font-family: 'open_sanssemibold', sans-serif;font-size:12px;position:relative;}
.userimg {margin:0 4px 0 8px;background:#fff;-webkit-box-shadow: 0 0 2px 1px #425a6e;box-shadow: 0 0 2px 1px #425a6e;width:42px;height:42px;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}
.userimg img{-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}
.rightmenu > li:last-child{vertical-align:text-top;}
.otheroptions{ padding:10px 10px 22px;cursor:pointer; border-top-left-radius: 3px; border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;-moz-border-radius-topright: 3px; }
.otheroptions span{width:11px;height:7px;background:url(images/dropdown-arrow.png) no-repeat;display:block;}
.otheroptions.selected{background:#fff;}
.otheroptions.selected span{background-position: -11px 0;}
.otheroptions-flyout {position:absolute;right:0;top:36px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;width:150px;background:#fff;-webkit-box-shadow: 1px 3px 3px 0 #ccc;box-shadow: 1px 3px 3px 0 #ccc;display:none;z-index:9999;padding:5px;}
.otheroptions-list li{text-align:left;}
.otheroptions-list li a{color:#1a6ab1;padding:5px;display:block;}
.otheroptions-list li span{width:16px;height:16px;background:url(../images/classedge/menu-dropdown-icons.png) no-repeat;display:inline-block;vertical-align:sub;margin-right:5px;}
.otheroptions-list li span.cal{background-position:0 0;}
.otheroptions-list li span.report{background-position:-16px 0;}
.otheroptions-list li span.sett{background-position:-32px 0;}
.otheroptions-list li span.about{background-position:-48px 0;}
.otheroptions-list li span.help{background-position:-64px 0;}
.otheroptions-list li span.contact{background-position:-80px 0;}
.otheroptions-list li span.logout{background-position:-96px 0;}
.otheroptions-list li span.nott{background-position:-112px 0;}
.otheroptions-list li span.troubleshoot{background-position:-128px 0;}
.otheroptions-list li span.complaint{background-position:-143px 0;}
.otheroptions-list li span.switch{background:url(images/icon_sprite.png);background-position:-113px 160px;}
.otheroptions-flyout .otheroptions-list:nth-child(2), .otheroptions-flyout .otheroptions-list:last-child{border-top:1px solid #e6e5e5;margin-top:5px;padding-top:5px;}

.badge-list .icon {   
    background-repeat: no-repeat;  background-position: center center;  display: block;  height: 30px;  width: 30px;    margin: 0 auto;
}
.header .user-title { text-align: right;   padding: 10px 50px;    color: #ffffff; }
.badge-list > li {  display: inline-block;  margin-right: 20px; }
.badge-list > li:last-child {    margin: 0; }
.badge-list p{ float: left; padding:5px 10px;font-family: 'open_sanslight', sans-serif }
.badge-list p span{ font-size:20px;; line-height:28px;  display: block; }
.badge-list .badge-achieved{ float: right;}
.badge-list .badge-achieved li{ float: left;}
.badge-list .badge-achieved li img{ height: 56px;}

/*Menu Bar*/
.menubg{background:#1a6ab1;}
.menudarkbg{background:#034e91; min-height:40px;}
.menuleft, .chapterlist, .mainmenu, .allthree, .addnew{float:left;}
.menuleft{position:relative;}
.menuright{float:right;}

.settingmenu > li{display:inline-block;background:url(../images/superadmin-arrow.png) no-repeat right 21px;margin-right:30px;position:relative;}
.settingmenu > li.month-set{ background: none; margin-right: 0;}
.settingmenu > li.month-set a{ position:relative;}
.settingmenu > li.month-set a span{border-left: 2px solid #fff; padding:0 10px 0 20px;}
.settingmenu > li.month-set a .month-ricon{width: 10px;height: 10px; background: url(../images/month-arrows.png) 0 2px no-repeat;display: inline-block; position: relative; margin:0 1px;}
.settingmenu > li.month-set a .month-ricon.bottom{ background-position:-14px 2px;}
.settingmenu > li a{color:#fff;display:block;padding: 14px 16px 14px 0;font-family: 'open_sanssemibold', sans-serif;}
.settingmenu ul{background:#fff;font-size:12px;position:absolute;width:160px;display:none;z-index:99;box-shadow:0 1px 2px #ccc;-webkit-box-shadow:0 1px 2px #ccc;}
.settingmenu ul:after{
	bottom: 100%; left: 30px;	border: solid transparent;	content: " ";	height: 0;	width: 0; position: absolute;	
	pointer-events: none;	border-color: rgba(255, 255, 255, 0);	border-bottom-color: #fff;	border-width: 8px; margin-left: -8px;
}
.settingmenu li li{border-bottom:1px solid #d1e9fe;}
.settingmenu li li:last-child{border-bottom:0;}
.settingmenu li li a{color:#2f3338;display:block;padding:6px 12px;}
.settingmenu li li a:hover{color:#1a6ab1;}
.settingmenu > li:hover ul{display:block;}
.settingmenu-left li{ color:#fff;display:block;padding: 14px 16px 14px 0;font-family: 'open_sanssemibold', sans-serif; background: none; text-transform: uppercase;}
.settingmenu-left li span{ border-left:2px solid #fff;margin-left: 6px; padding-left: 10px;font-family: 'open_sansregular'; font-size: 12px;}
.settingmenu li a.active:before{
	bottom: 0; left: 30px; border: solid transparent;	content: " ";	height: 0;	width: 0;	position: absolute;
	pointer-events: none;	border-color: rgba(255, 255, 255, 0);	border-bottom-color: #fff;	border-width: 8px;	margin-left: -8px;
}
/* ---------- Portlet ---------- */
.portlet .portlet-topper {background:#caccce;padding:20px 15px;margin-top:10px !important;}
.portlet .portlet-topper-toolbar { right: 6px; top: 7px; }
.portlet .portlet-title { font-family: 'open_sansbold', sans-serif;float:left;text-transform:uppercase; font-size:100%; margin-top: -1em;}
.portlet-toolbar {	display: none;}
.portlet-body {	margin: 0;}

@media only screen and (max-width:1280px){
.sitewidth {width:980px;}
}
